body{
    margin: 0;
}
header{
    background-color: yellow;
    height: 110px;
}
a{
    text-decoration: none;
    color:black;
}
.logo{
    width: 300px;
}
.productos-header{
    position: absolute;
    top: 10.5%;
    right: 36%;
}
.header-nav{
    position:absolute;
    right: 4%;
    top: 10%;
}
.opiniones{
    position: absolute;
    right: 22%;
    top: 10.5%;
}

.footer-nav{
    background-color: yellow;
    margin-top: 10px;
    padding-top: 10px;
}

.footer-nav ul{
    list-style: none;
}

.footer-nav ul h2{
    margin-left: 5%;
}